body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #9a1d86, #1595be);
    font-weight: bold;
}
.player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background: #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.details {
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}